# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
*.swp
.pytest_cache/


# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Build artifacts
dist/
build/
*.log

# Environment variables
.env

matching-service/matching-service/cache/
.DS_Store*