basePath: /re-identification-system
manifestApiBaseUrl: http://matching-service
domain: teknoir.cloud

image:
  repository: us-docker.pkg.dev/teknoir/gcr.io/re-identification-system
  tag: latest

matchingService:
  modelCheckpoint: /app/models/encoder/model.pt
  image:
    repository: us-docker.pkg.dev/teknoir/gcr.io/matching-service
    tag: latest

manifestEditor:
  serviceAccountName: default-editor
  image:
    repository: us-docker.pkg.dev/teknoir/gcr.io/manifest-editor
    tag: latest

mongo:
  image:
    repository: mongo
    tag: "8.0"
    pullPolicy: Always
  auth:
    username: teknoir
    password: change-me
  service:
    port: 27017
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1Gi


