basePath: /re-identification-system
domain: teknoir.cloud
mediaServiceBaseUrl: https://teknoir.cloud/victra-poc/media-service/api

image:
  repository: us-docker.pkg.dev/teknoir/gcr.io/re-identification-system
  tag: latest

mongo:
  image:
    repository: mongo
    tag: "8.0"
    pullPolicy: Always
  auth:
    username: teknoir
    password: change-me
  service:
    port: 27017
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1Gi

event-processing-pipeline:
  enabled: true

  streams:
    - stream: cloud-line-crossing
      image:
        repository: us-docker.pkg.dev/teknoir/gcr.io/observatory-event-processing
        tag: feature-line-crossing-cloud-stream-6afbeda
      mongodbSecretKeyRef:
        name: re-id-mongo
        key: uri

triton:
  enabled: true

  nodePort:
    enabled: false

  models:
    - name: swin-reid
      image: us-docker.pkg.dev/teknoir/gcr.io/swin-reid-triton:latest-local-20251112-104202