---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: re-id-mongo
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: standard
